{$layout "layout_popup"}

<!-- <h3>设置记录健康检查</h3> -->

<form class="ui form" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>
    <input type="hidden" name="recordId" :value="record.id"/>

    <table class="ui table definition selectable">
        <tr>
            <td class="title">当前记录</td>
            <td>
                <span v-if="record.name.length > 0">{{record.name}}</span><span v-else class="disabled">[空]</span>.{{domain.name}}. {{record.type}} {{record.value}}
            </td>
        </tr>
    </table>

    <ns-record-health-check-config-box v-model="record.healthCheckConfig" :v-parent-config="domain.healthCheckConfig"></ns-record-health-check-config-box>

    <submit-btn></submit-btn>
</form>