{$layout "layout_popup"}

<!-- <h3>修改线路</h3> -->
<form class="ui form" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>

    <input type="hidden" name="networkId" :value="network.id"/>

    <table class="ui table definition selectable">
        <tr>
            <td class="title">线路名称 *</td>
            <td>
                <input type="text" name="name" ref="focus" maxlength="50" v-model="network.name"/>
                <p class="comment">类似于BGP线路、全球线路等。</p>
            </td>
        </tr>
        <tr>
            <td>线路描述</td>
            <td>
                <textarea rows="3" name="description" maxlength="100" v-model="network.description"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2"><more-options-indicator></more-options-indicator></td>
        </tr>
        <tbody v-show="moreOptionsVisible">
            <tr>
                <td>启用线路</td>
                <td>
                    <checkbox name="isOn" v-model="network.isOn"></checkbox>
                </td>
            </tr>
        </tbody>
    </table>

    <submit-btn></submit-btn>
</form>