<first-menu>
    <menu-item href="/clusters" code="index">集群&nbsp;<span class="small">({{totalNodeClusters}})</span></menu-item>
    <menu-item href="/clusters/nodes" code="node">节点&nbsp;<span class="small">({{totalNodes}})</span></menu-item>
    <span class="separator">|</span>
    <menu-item href="/clusters/create" code="create">
        <i class="pi pi-pen-to-square"></i>
        创建集群
    </menu-item>
    <menu-item href="/clusters/createNode" code="createNode">
        <i class="pi pi-pen-to-square"></i>
        创建节点
    </menu-item>
</first-menu>
